<p>symbol works!</p>

<div class="container col-md-6">    
        <div class="row">
            <div class="input-group col-md-8">
                <input class="form-control py-2" type="search" (focus)="OnTextFocus()"  [(ngModel)]="lookupfield">
                
                <span class="input-group-append">
                    <button class="btn btn-outline-secondary" id="lookupbtn" type="button" (click)="getSymbol()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                          </svg>
                    </button>
                </span>        
                
                
            </div>
        </div>
        <span *ngIf="iserr"   class="text-danger">Please enter valid symbol</span>
        <hr />

        

        <div *ngIf="quote">
                <h4><p class="text-muted">  {{symbol.name}} ({{symbol.symb}}) </p></h4>      
                <h1> {{symbol.lastPrice}}  <small><span class="text-success">+{{symbol.change}}  ({{symbol.changePercent}} %)</span></small></h1>
                <p><small class="text-muted">As of {{symbol.timestamp}}</small></p>

            
            <!-- <div> <p class="text-left">Range</p> <p class="text-right">71.81-72.89</p></div>
                <p class="row" style="text-align:left;">Range  <span style="float:right;">71.81-72.89</span></p>
                -->
                <table class="table">  
                    <tbody>
                    <tr><td class="text-muted h5">Range</td><td class="text-right font-weight-bold h4">{{symbol.low}}-{{symbol.high}} </td></tr>
                    <tr><td class="text-muted h5">Open</td><td class="text-right font-weight-bold h4">{{symbol.open}} </td></tr>
                    <tr><td class="text-muted h5">Volum</td><td class="text-right font-weight-bold h4">{{symbol.volum}}</td></tr>
                    <tr><td class="text-muted h5">Market Cap</td><td class="text-right font-weight-bold h4">{{symbol.marketcap}}</td></tr>                          
                    </tbody>
                </table>       
        </div>
    </div>
